body {
    margin: 0;
    padding: 0;
    background-color: #bababa;
}


section {
    height: 600px;
    margin: 200px auto auto 0;
    display: flex;
    flex-direction: row;
}

.area {
    width: 20%;
}

#clock {
    background-image: url("images/clock.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock_time {
    color: white;
    font-weight: 700;
    font-size: 210px;
    margin-top: 130px;
}